body{
    background-image: url(./imagenes/CWAJTVM7GZGWJPHIKBZQRYMN24.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color:beige;
    font-family: 'Righteous', cursive;
    font-weight: lighter;
}
#bio{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}