.ind{
    background-image: url(./imagenes/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    font-family: 'righteous';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
p{
    font-family: 'righteous';
    padding-left: 15%;
    padding-right: 15%;
    font-stretch: extra-expanded;
    text-align: center;
    font-weight: bolder;
}
.bio{
    background-image: url(./imagenes/CWAJTVM7GZGWJPHIKBZQRYMN24.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color:beige;
    font-family: 'righteous';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.form{
    background-image: url(./imagenes/form.jpg);
    font-family: 'righteous';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}